In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime

# Import April Notebook

In [30]:
df = pd.read_csv('../data/raw/Mobi_System_Data_2022-04.csv')

In [31]:
df.head()

,Departure,Return,Departure station,Return station,Membership type,Covered distance (m),Duration (sec.),Departure battery voltage (mV),Return battery voltage (mV),Departure temperature (C),Return temperature (C),Stopover duration (sec.),Number of stopovers
0,2022-05-01 0:00,2022-05-01 0:00,0217 Smithe & Burrard,0041 Cardero & Robson,365 Standard,1127.0,385,3963,4061,12,13,0,0
1,2022-05-01 0:00,2022-05-01 0:00,0037 Hornby & Nelson,0025 Homer & Robson (Vancouver Public Library),30 Day Pass,888.0,311,3919,4067,12,12,0,0
2,2022-05-01 0:00,2022-05-01 0:00,0037 Hornby & Nelson,0025 Homer & Robson (Vancouver Public Library),365 Standard,888.0,320,3897,4048,11,10,0,0
3,2022-05-01 0:00,2022-05-01 0:00,0028 Davie & Beach,0138 Richards & Helmcken,24 Hour,2785.0,901,3932,3995,11,12,0,0
4,2022-05-01 0:00,2022-05-01 0:00,0028 Davie & Beach,0138 Richards & Helmcken,24 Hour,2748.0,861,4077,4092,11,12,0,0

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53987 entries, 0 to 53986
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Departure                       53987 non-null  object
 1   Return                          53955 non-null  object
 2   Departure station               53987 non-null  object
 3   Return station                  53950 non-null  object
 4   Membership type                 53892 non-null  object
 5   Covered distance (m)            53987 non-null  float64
 6   Duration (sec.)                 53987 non-null  int64
 7   Departure battery voltage (mV)  53987 non-null  int64
 8   Return battery voltage (mV)     53987 non-null  int64
 9   Departure temperature (C)       53987 non-null  int64
 10  Return temperature (C)          53987 non-null  int64
 11  Stopover duration (sec.)        53987 non-null  int64
 12  Number of stopovers             53987 non-null  int64
dtypes: float64(1), int64(7), object(5)
memory usage: 5.4+ MB

With a quick glance from the info of our dataframe we can see that there is some null values that will need to be explored further

# Looking at NA/Null Values

In [143]:
(df.isnull().sum()/len(df)*100).sort_values()

Departure                         0.000000
Departure station                 0.000000
Covered distance (m)              0.000000
Duration (sec.)                   0.000000
Departure battery voltage (mV)    0.000000
Return battery voltage (mV)       0.000000
Departure temperature (C)         0.000000
Return temperature (C)            0.000000
Stopover duration (sec.)          0.000000
Number of stopovers               0.000000
Return                            0.059274
Return station                    0.068535
Membership type                   0.175968
dtype: float64

# Turn departure and return into datetime format

In [33]:
df['Departure'] = pd.to_datetime(df['Departure'], format = "%Y-%m-%d %H:%M%S")
df['Return'] = pd.to_datetime(df['Return'], format = "%Y-%m-%d %H:%M%S")

In [34]:
df.head()

,Departure,Return,Departure station,Return station,Membership type,Covered distance (m),Duration (sec.),Departure battery voltage (mV),Return battery voltage (mV),Departure temperature (C),Return temperature (C),Stopover duration (sec.),Number of stopovers
0,2022-05-01,2022-05-01,0217 Smithe & Burrard,0041 Cardero & Robson,365 Standard,1127.0,385,3963,4061,12,13,0,0
1,2022-05-01,2022-05-01,0037 Hornby & Nelson,0025 Homer & Robson (Vancouver Public Library),30 Day Pass,888.0,311,3919,4067,12,12,0,0
2,2022-05-01,2022-05-01,0037 Hornby & Nelson,0025 Homer & Robson (Vancouver Public Library),365 Standard,888.0,320,3897,4048,11,10,0,0
3,2022-05-01,2022-05-01,0028 Davie & Beach,0138 Richards & Helmcken,24 Hour,2785.0,901,3932,3995,11,12,0,0
4,2022-05-01,2022-05-01,0028 Davie & Beach,0138 Richards & Helmcken,24 Hour,2748.0,861,4077,4092,11,12,0,0

#### How many stations are there?

In [115]:
# Departure Station
print(f'{len(df["Departure station"].value_counts())} stations were departed in April')

# Return Station
print(f'{len(df["Return station"].value_counts().index)} stations were returned in April')

205 stations were departed in April
206 stations were returned in April

This means there is a difference in stations that were departed and returned. So what is the correct total of stations? 

To answer this, I want to check if there is duplication due to a string error compared to a number errror. It seems like each station has a unique number combined with a string address. I will first compare the numbers by turning each column into a set and use symmetric_difference to return the values that are not matched

In [116]:
list_dep_stat_num = df.groupby('Departure station').sum().index.str.split(n = 1).tolist()
list_ret_stat_num = df.groupby('Return station').sum().index.str.split(n = 1).tolist()

# Returns values that are either in departure or return but not both
set([num[0] for num in list_dep_stat_num]).symmetric_difference(set([num[0] for num in list_ret_stat_num]))

{'0982'}

In [117]:
list_dep_stat_str = df.groupby('Departure station').sum().index.str.split(n = 1).tolist()
list_ret_stat_str = df.groupby('Return station').sum().index.str.split(n = 1).tolist()

# Returns values that are either in departure or return but not both
set([num[1] for num in list_dep_stat_str]).symmetric_difference(set([num[1] for num in list_ret_stat_str]))

{'Workshop - Bike Testing'}

It seems like the numeric values and strings both return only 1 mismatch which corresponds with a station called 'Workshop - Bike Testing'

In [134]:
df['Return station'][df['Return station'].str.contains('Workshop - Bike Testing')]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [126]:
df['Return station'][df['Return station'].str.contains('Workshop - Bike Testing')]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [112]:
len(set(df["Return station"].unique()).intersection(set(df["Return station"].value_counts().index)))

206

In [63]:
df["Departure station"][df["Departure station"].isin(df["Return station"])]

0        0217 Smithe & Burrard
1         0037 Hornby & Nelson
2         0037 Hornby & Nelson
3           0028 Davie & Beach
4           0028 Davie & Beach
                 ...
53982       0064 Expo & Smithe
53983      0083 Aquatic Centre
53984     0212 Union & Dunlevy
53985     0019 Robson & Hornby
53986       0028 Davie & Beach
Name: Departure station, Length: 53987, dtype: object